<table class="index" data-hook="<%=commentable.class.table_name%>-comments">
  <tr>
    <th style="width:140px;"><%= "#{t('spree.date')}/#{t('spree.time')}" %></th>
    <% if @comment_types and !@comment_types.empty? %>
      <th><%= t(:type) %></th>
    <% end %>
    <th><%= t(:comment) %></th>
    <% if commentable.comments.collect(&:commentable_type).uniq.length > 1 %>
      <th>Comment On</th>
    <% end %>
  </tr>
  <% commentable.comments.reverse.each_with_index do |comment, index| %>
    <tr id="<%= dom_id(comment) %>">
      <td><%= comment.created_at.to_formatted_s(:long) %></td>
      <% if @comment_types and !@comment_types.empty? %>
        <td><%= comment.comment_type.name if comment.comment_type %></td>
      <% end %>
      <td>
        <div id="order-comment-header-<%= index %>" class="order-comment-header">
          <strong><%= comment.user.email + ' ' + t(:said)%> :</strong>
        </div>
        <div id="order-comment-body-<%= index %>" class="order-comment-body">
          <%= comment.comment.html_safe %>
        </div>
      </td>
      <% if commentable.comments.collect(&:commentable_type).uniq.length > 1 %>
        <td>
          <%= link_to comment.commentable.comment_description, [:admin, comment.commentable] %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
